.modal {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(134, 134, 134, 0.2);

	display: flex;
	align-items: center;
	justify-content: center;
}

.form {
	min-height: 100px;
	min-width: 100px;
	background-color: #fff;
	border-radius: 10px;

	position: relative;
}

.—ÅloseModal{
	position: absolute;
	display: block;
	top: 20px;
	right: 20px;
}