.button {
	display: block;
	padding: 5px;
	border: 2px dashed rgba(102, 112, 133, 0.4);
	border-radius: 10px;

	color: rgb(70, 77, 91);
	font-size: 16px;
	font-weight: 800;
	line-height: 16px;
	letter-spacing: -0.75%;
	text-transform: uppercase;

	transition: background-color 0.5s;
}

.button:hover {
	background-color: rgb(197, 255, 205);
}
